	#content-top {
		height:15px;
		border-right:1px solid #d6d6d6;
		border-left:1px solid #d6d6d6;
		box-shadow:0 -3px 3px #ddd9cf;
		position:relative;
		margin-top:20px;
	}
	#content-bottom{
		height:15px;
		border-right:1px solid #d6d6d6;
		border-left:1px solid #d6d6d6;
		box-shadow:0 3px 3px #ddd9cf;
		margin-bottom:20px;
	}	 
	#content {
		
	}
	#content .container {
		padding:0;
		width:1000px;
		border-right:1px solid #d6d6d6;
		border-left:1px solid #d6d6d6;
		box-shadow:0 0 3px #ddd9cf;
	}
	#logo {
		position:absolute;
		left:0;
		right:0;
		text-align:center;
	}
	.menusearch {
		width:260px;
		margin-top:25px;
		position:relative;
	}
	/*------------------------------ MENU ------------------------------*/
	#secondarymenu-container {
		height:76px;
		position:relative;
		z-index:20;
		background:url("../images/top.png") no-repeat scroll 50% bottom transparent;
	}
	
	
	#secondarymenu {
		float:left;
		background:url(../images/secondarymenu.png) repeat-x center;
		margin-top:10px;
	}
	#secondarymenu a {
		padding:16px 9px;
		color:#836D48;
	}
	#secondarymenu a:hover{
		color:#D69F37;
	}
	#header-block {
		position:relative;
	}
	
	#mainmenu-container {
		height:40px;
		z-index:18;
		background:url(../images/mainmenu.png) no-repeat center;
		position:relative;
		padding:15px 130px;
	}
	#mainmenu li a {
		padding:0 20px;
		font-size:15px;
		font-family:'oswald';
		color:#D69F37;
	}
	#mainmenu li {
		position:relative;
	}
	#mainmenu li a:hover{
		color:#836D48;
	}


	#header #mainmenu li ul {
		top:44px;
	}
	#header li ul {
		top:45px;
	}
	#header li ul .transparent {
	}
	#header li ul .inner {
		padding:0;
		background:#FBFAF9;
		border:4px solid #E7E7DC;
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
	}
	#header ul.children li, #header .sub-menu li {
		padding:0 !important;
		margin:0 !important;
		height:25px;
		line-height:25px;
	}
	#header ul.children li a, .sub-menu li a {
		color:#836D48 !important; 
		padding:0 !important;
		height:25px;
		line-height:25px;
	}
	#header ul.children li a:hover, .sub-menu li a:hover {
		color:#D69F37 !important; 
		border:none !important;
		box-shadow:none !important;
	}
	
	#header #mainmenu li ul .inner {
	}
	#header #mainmenu ul.children li a, #mainmenu .sub-menu li a {
		color:#D69F37 !important;
		text-shadow:1px 1px 1px #fff;
	}
	#header #mainmenu ul.children li a:hover, #mainmenu .sub-menu li a:hover {		
		color:#836D48 !important;
		border:none !important;
		box-shadow:none !important;
	}

	#header .sub-menu .sub-menu {
		top:0 !important;
	}
	
	/*------------------------------ SLIDER ------------------------------*/
	.slider-container {	
		height:386px;
		width:916px;
		position:relative;	
		padding-bottom:32px;
		margin:30px auto 0;
		background:url("../images/slider-shadow.png") no-repeat bottom;
	}
	.slider {
		position:absolute;	
		border:1px solid #FFE9BF;
		width:916px;
		padding:5px;
	}
	.fp-next, .fp-prev {
		margin:0 -17px;
		width:44px;
		height:390px;
	}
	.fp-title{
		font-size:13px;
	}
	
	.fp-prev-next-wrap {
		margin:0 0px;
	}
	.slider-nothumb .fp-slides, .slider-nothumb .fp-thumbnail, .slider-nothumb .fp-slides-items {
		height:188px;
	}
	.fp-slides,.fp-thumbnail,.fp-slides-items  {
		height:374px;
		width:916px;
	}
	.fp-content-fon {
		border-bottom:none;
		border-left:none;
		border-right:none;
	}
	.fp-content-fon, .fp-content {	
		left:0;
		right:0;
		bottom:0;
		text-align:left;
		font-size:13px;
	}
	.fp-nav {
		right:0;
		bottom:-25px;
		left:0;
	}
	.slider-nothumb .fp-content-fon {
		background:#fff;
	}
	.slider-nothumb .fp-content a,.slider-nothumb .fp-content p{
		color:#000;
	}
	
	#footer .footer_txt .container {
		
	}
	.content-l #content .container { background:url(../images/content/main-l.png) left top repeat-y; }
	.content-r #content .container { background:url(../images/content/main-r.png) left top repeat-y; }
	.content-lr #content .container { background:url(../images/content/main-lr.png) left top repeat-y; }
	.content-l2 #content .container { background:url(../images/content/main-l2.png) left top repeat-y; }
	.content-r2 #content .container { background:url(../images/content/main-r2.png) left top repeat-y; }
	.content-n #content .container { background:url(../images/content/main-n.png) left top repeat-y; }

	.content-l #content-top { background:url(../images/content/top-l.png) left top no-repeat; }
	.content-r #content-top  { background:url(../images/content/top-r.png) left top no-repeat; }
	.content-lr #content-top  { background:url(../images/content/top-lr.png) left top no-repeat; }
	.content-l2 #content-top  { background:url(../images/content/top-l2.png) left top no-repeat; }
	.content-r2 #content-top  { background:url(../images/content/top-r2.png) left top no-repeat; }
	.content-n #content-top  { background:url(../images/content/top-n.png) left top no-repeat; }

	.content-l #content-bottom { background:url(../images/content/bottom-l.png) left bottom no-repeat; }
	.content-r #content-bottom  { background:url(../images/content/bottom-r.png) left bottom no-repeat; }
	.content-lr #content-bottom  { background:url(../images/content/bottom-lr.png) left bottom no-repeat; }
	.content-l2 #content-bottom  { background:url(../images/content/bottom-l2.png) left bottom no-repeat; }
	.content-r2 #content-bottom  { background:url(../images/content/bottom-r2.png) left bottom no-repeat; }
	.content-n #content-bottom  { background:url(../images/content/bottom-n.png) left bottom no-repeat; }